@mixin background-gradient($top-color, $bottom-color) {
  @include linear-gradient(color-stops($top-color, $bottom-color));
  background-color: $bottom-color;
}

@mixin base-button($text-color, $start-color, $end-color) {
  $shadow-color: darken($start-color, 10%);
  $button-border-color: darken($end-color, 50%);

  @include background-gradient($start-color, $end-color);
  @include box-shadow(0 1px 0 $shadow-color);

  &:hover,
  &:focus { @include box-shadow(0 1px 0 $shadow-color, inset 3px -3px 15px $start-color, inset -3px -3px 15px $start-color); }
  &:active { @include box-shadow(0 1px 0 $shadow-color, inset 3px -3px 15px $end-color, inset -3px -3px 15px $end-color, inset -3px 3px 15px $end-color); background: $start-color; }

  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid $button-border-color;
  color: $text-color;
  outline: 0;
}

@mixin button($start-color: lighten($light-gray, 10%), $end-color: lighten($dark-gray, 10%)) {
  @include base-button($text-color, $start-color, $end-color);
  @include border-radius(5px);
  @include text-shadow(0 1px 0 $gray);
}

@mixin page-section {
  @include box-shadow(darken($gray, 60%) 0 0 4px);
  margin: 30px;
  padding: 20px;
  background: $gray;
}