$text-color: #000000;
$border-color: #000000;
$shadow-color: #000000;

$gray: #eeeeee;
$light-gray: #dddddd;
$dark-gray: #a1a1a1;

$error: #af0100;
$success: #1fdf00;

$header-gradient-start: #454545;
$header-gradient-end: #1b1b1b;

$layout-width: 1000px;
$layout-background: #cfcfcf;

$content-background: #fefefe;