@import "compass/css3";
@import "compass/reset";

@mixin background-gradient($top-color, $bottom-color) {
  @include background-image(linear-gradient($top-color, $bottom-color));
  background-color: $bottom-color;
}

body {
  background: #CFCFCF;
  color: #222;
  font-family: Helvetica, arial, tahoma, verdana, sans-serif;
  font-size: 12px;
}

body > {
  header { @include background-gradient(#454545, #1b1b1b); @include text-shadow(#000, 0px, 1px, 0px); @include box-shadow(#000, -5px, 0, 5px); text-align: center; min-width: 1000px; padding: 15px 0; }
  header nav { display: inline-block; }
  header nav a:first-child { @include border-radius(4px, 4px 0 0 4px); }
  header nav a:last-child { @include border-radius(4px, 0 4px 4px 0); }
  header nav a {  @include background-gradient(#606060, #141414); @include box-shadow(0 1px 0 #555); padding: 5px 15px; margin-left: -4px; border: 1px solid #111; color: #eee; text-decoration: none; }
  header nav a:hover,
  header nav a:focus { @include box-shadow(0 1px 0 #555, inset 3px -3px 15px #606060, inset -3px -3px 15px #606060); }
  header nav a:active { @include box-shadow(0 1px 0 #555, inset 3px -3px 15px #141414, inset -3px -3px 15px #141414, inset -3px 3px 15px #141414); background: #606060; }

  article { @include box-shadow(#000, 0, 1px, 2px); @include border-radius(10px); width: 980px; margin: 20px auto; padding: 20px; background: #fff; }
}
